html, body {
    margin: 0;
}

header {
    background-color: antiquewhite;
    h1 {
        margin: 0;
    }
}

body {
    #taskList {
        .taskList--checked {
            text-decoration: line-through;
        }
    }
}