html, body {
    margin: 0;
}

header {
    background-color: antiquewhite;
    width: 70%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h1 {
        margin: 0;
    }
    input {
        width: 60%;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    #taskList {
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: x-large;
        button {
            margin-left: 10px;
        }
        .taskList--checked {
            text-decoration: line-through;
        }
    }
    #removedList {
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: x-large;
    }
}